.menu{
  grid-column: 3/5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #fb5;
}
.menu ul{
  display: flex;
  flex-wrap:wrap ;
  gap: 20px;
  padding: 10px;
}

.menu a{
  padding: 10px 15px;
  color: #222;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
}
.grid-section{
  grid-column: 2/4;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
}
.titulo{
  font-family: 'Playfair Display SC' ,Georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1/4;
}
.animais p{
  font-family: helvetica, Arial;
  margin-bottom: 1rem;
}
.animais h2{
  font-family:monospace ;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #e54;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0 5px;
}
.animais h2::before{
  content: "";
  width: 32px;
  height: 8px;
  background: #fb5;
}

.animais-lista{
  height: 370px;
  overflow-y: scroll ;
  grid-column: 2;
}

.animais-lista::-webkit-scrollbar{
  width: 18px;
}
.animais-lista::-webkit-scrollbar-thumb{
  background: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}
.animais-lista::-webkit-scrollbar-track{
  background: #faf6ed;
}
.animais-descricao{
  grid-column: 3;
}
.animais-descricao section{
  margin-bottom: 3rem;
}
.faq-lista{
  grid-column: 2/4;
}
.faq-lista dt{
  font-family: monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: #e54;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}
.faq-lista dt::before{
  content: "";
  width: 20px;
  height: 10px;
  background: #fb5;
}

.mapa{
  grid-column: 2;
}
.dados{
  grid-column: 3;
}
.dados li{
  margin-bottom: 1rem;
  font-family: helvetica, Arial;
}
.dados a{
  display:inline-block ;
}
.dados li::before{
  content: "";
  width: 20px;
  height: 10px;
  background: #fb5;
  display: inline-block;
  margin-right:10px;
}
.copy{
  grid-column: 3/5;
  margin-bottom: 2rem;
  background: #fb5;
}
.copy p{
  padding: 20px;
  font-family: monospace;
  font-weight: bold;
}

@media(max-width: 700px){

body{
  grid-template-columns: 1fr;
}

.menu,
.grid-section,
.copy{
  grid-column: 1;
}

.grid-section{
  grid-template-columns: 100px 1fr;
}
.animais-lista{
  grid-column: 1;
}
.faq-lista,
.dados,
.mapa{
  grid-column: 1/3;
}
.grid-section h1{
font-size: 3rem;
}
.menu {
  margin-top: 0px;
}
.copy{
  margin-bottom: 0px;
}

}




body 
{
  margin: 0;
  padding: 0;
  color: #222;
  background: #faf6ed;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

h1,
h2,
h3,
ul,
li,
a,
p,
dd,
dt 
{
  margin: 0;
  padding: 0;
}

img
{
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a
{
  display: block;
}

ul
{
  list-style: none;

}

a
{
  text-decoration: none;
  color: inherit;
}